.hero{
    display: flex;
    justify-content: space-evenly;
    margin: 7rem 3rem;
}
.nameHero{
    font-size: 55px;
    font-weight: 700;
    color: #444444;
    margin: 0;
}
.profesion{
    margin-top: 0;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 0;
}
.span{
    color: #4a98bf;
}
.afirmacion{
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin-top: 0; 
    padding-right: 3rem;
}
.socialMediaa{
    display: flex;
    justify-content: center; 
}
.img{
    width: 40px;
    height: 40px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1rem;
}
.imgContainer{
    /* display: flex; */
    /* display: none;  */
    align-items: center;
}
.imgHero{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border-color: rgba(0,0,0,0.1);
    object-fit: cover; 
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}
.imgHero:hover{
    box-shadow: 0px 0px 50px rgba(0,0,0,0) ;
}
.poster{
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    transition: box-shadow .1s ;
    background-size: cover;
    
}
.poster:hover{
    box-shadow: 0px 0px 50px rgba(0,0,0,01);
}
@media screen and (max-width: 768px){
    .imgContainer{
        display: none;
    }
}
@media screen and (max-width: 425px){
    .hero{    
    margin: 5rem 0rem;
    margin-bottom: 0;
    }
    .nameHero{
        padding: 1rem 2rem;
        font-size: 35px;
        padding-top: 4rem;
    }
    .profesion{
        padding: 0 2rem ;
        font-size: 28px;
    }
    .afirmacion{
        padding: 1rem 2rem;   
    }
}
@media screen and (max-width: 375px){
    .profesion{
        padding: 0 2rem ;
        font-size: 25px;
    }
}
