.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vh;
    padding-bottom: 2rem;
}
.inputo{
    margin-bottom: 1rem !important;
}
@media screen and (max-width: 425px) {
    .form{
        width: auto;
    }
}