.content, .cabecera, .sectionEnlaces, .socialMedia{
    display: flex;
}
.content, .cabecera, .correo, .socialMedia {
  align-items: center;
}
.content {
  justify-content: space-evenly;
  background-color: black;
  color: white;
  height: 400px;
  text-transform: uppercase;
}
.cabecera {
  flex-direction: column;
}
.imagenSilueta {
  width: 200px;
}
.correo {
  display: inline-flex;
}
.imagen {
  width: 30px;
  height: 30px;
}
.mail {
  font-size: 0.8825rem;
  letter-spacing: 0.0625rem;
  font-weight: 500;
  text-transform: uppercase;
}
.sectionEnlaces {
  flex-direction: column;
}
.socialMedia {
  justify-content: center;
  flex-direction: column;
}
.enlaces {
  color: white;
  text-decoration: none;
  font-size: 0.8825rem;
  letter-spacing: 0.0625rem;
  font-weight: 500;
}
.enlaces:hover {
  text-decoration: underline;
}
.tittle {
  font-size: 0.8825rem;
  letter-spacing: 0.0625rem;
  font-weight: 500;
}
.imgContent{
  width: 40px;
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (max-width: 425px) {
  .content {
    flex-direction: column;
    height: auto;
  }
  .socialMedia {
    padding-bottom: 1rem;
  }
  .sectionEnlaces{
    align-items: center;
  }
  .tittle{
    padding: .8rem;
    text-decoration: underline;
  }
  .enlaces{
    padding: .5rem;
  }
  .tittle {
    margin-bottom: 0.5rem;
  }
  .imgContent{
    width: 40px;
    height: 40px;
  }
}