.cabecera{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imagen_silueta{
    width: 200px;
}
.correo{
    display: inline-flex;
    align-items: center;
}
.imagen{
    width: 40px;
    height: 40px;
}
.mail{
    font-family: 'Poppins';
    font-size: .8825rem;
    letter-spacing: 0.0625rem;
    font-weight: 500;
    text-transform: uppercase;
}
.SectionEnlaces{
    display: flex;
    flex-direction: column;
}
.enlaces{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: .8825rem;
    letter-spacing: 0.0625rem;
    font-weight: 500;
}
.enlaces:hover{
    text-decoration: underline;
}
.tittle{
    font-family: 'Poppins';
    font-size: .8825rem;
    letter-spacing: 0.0625rem;
    font-weight: 500;
}
/* underline="hover"
key={index}
color="#000000"
href={nav.href}
fontFamily={'Poppins'}
fontSize={'.8125rem'}
letterSpacing={'0.0625rem'}
textTransform={'uppercase'}
paddingRight={'1rem'}
> */
@media screen and (max-width:425px){
    .tittle{
        margin-bottom: .5rem;
    }
}