/* .aboutMeContainer{
    margin: 5rem 2rem;
    margin-bottom: 0;
    padding-bottom: 4rem;
} */
.learnSection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tittleAbout{
    margin: 0;
    padding: 0;
    font-size: 22px;
    padding-left: 12px;
    letter-spacing: 0.0625rem;
    font-weight: 500;
    padding-bottom: 20px;
}
.label{
    font-size: 15px;
    font-weight: 400;
}
.aplicaciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}
.descriptionMobile{
    display: none;
}
.hr{
    border-style:double;
color: #303030;
margin-bottom: 2rem;
margin-top: 0;
animation: grow 6s linear infinite;
}
@keyframes grow {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100%{
        width: 0;
    }
}
@media screen and (max-width: 425px){
    .descriptionMobile{
        display: block;
    }
    .syntax{
        display: none;
        font-size: 15px !important;
    }
}
/* @media screen and (max-width: 768px){
    .aboutMeContainer{
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
        background-color: red;
    }
} */